.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}


@media (min-width: 992px){
  .ab-photo{
    max-width: 50%;
    width: 50%;
  }
  
  .ab-text{
    max-width: 50%;
    width: 50%;
  }
  
}